absl-py==2.1.0
acvl_utils==0.2
addict==2.4.0
antlr4-python3-runtime==4.9.3
batchgenerators==0.25
batchgeneratorsv2==0.1.1
certifi==2022.12.7
cffi==1.17.0
charset-normalizer==2.1.1
click==8.1.7
colorama==0.4.6
connected-components-3d==3.16.0
contextlib2==21.6.0
contourpy==1.2.1
crcmod==1.7
cryptography==43.0.0
cycler==0.12.1
degrade @ git+https://gitlab.com/iacl/degrade@c2755a7df4783c85ab676016301cada47131f183
dicom2nifti==2.4.11
dynamic_network_architectures==0.3.1
einops==0.8.0
fft-conv-pytorch==1.2.0
filelock==3.14.0
fonttools==4.53.0
fsspec==2024.2.0
ftfy==6.2.3
future==1.0.0
graphviz==0.20.3
grpcio==1.66.1
h5py==3.11.0
idna==3.4
imagecodecs==2024.6.1
imageio==2.34.1
importlib_resources==6.4.0
Jinja2==3.1.3
jmespath==0.10.0
joblib==1.4.2
kiwisolver==1.4.5
lazy_loader==0.4
linecache2==1.0.0
llvmlite==0.42.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
mdurl==0.1.2
MedPy==0.4.0
ml-collections==0.1.1
model-index==0.1.11
mpmath==1.3.0
networkx==3.2.1
nibabel==5.2.1
nnunetv2==2.3.1
numba==0.59.1
numpy==1.23.5
omegaconf==2.3.0
opencv-python==4.10.0.84
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.1
ordered-set==4.1.0
oss2==2.17.0
packaging==24.0
pandas==2.2.2
pillow==10.2.0
prettytable==3.10.2
protobuf==5.27.3
pycocotools==2.0.8
pycparser==2.22
pycryptodome==3.20.0
pydicom==2.4.4
pyparsing==3.1.2
python-gdcm==3.0.24.1
pytorch-msssim==1.0.0
pytz==2023.4
PyWavelets==1.6.0
PyYAML==6.0.1
regex==2024.7.24
requests==2.28.2
resize @ git+https://gitlab.com/iacl/resize@7edd72d4a14d0b650e90313ab63f9d690a189ced
rich==13.4.2
scikit-image==0.22.0
scikit-learn==1.5.0
scipy==1.13.0
seaborn==0.13.2
shapely==2.0.5
sigpy==0.1.26
SimpleITK==2.3.1
sympy==1.12
tabulate==0.9.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.4.0
terminaltables==3.1.10
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2024.5.22
tomli==2.0.1
torchstat==0.0.7
tqdm==4.65.2
traceback2==1.4.0
transforms3d==0.4.1
triton==2.1.0
tzdata==2024.1
unittest2==1.1.0
urllib3==1.26.13
wcwidth==0.2.13
Werkzeug==3.0.4
yacs==0.1.8
yapf==0.40.2
